<div class="splash">
</div>
<!-- <div class="col-sm-10 col-sm-offset-1 hid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
          <form ng-submit="usersettings.updateUser()" class="form"> -->

            <!-- <div class="form-group">
            <input type="text" class="form-control sbox" ng-model="usersettings.firstname" placeholder="First Name" required=""/>
            </div>

            <div class="form-group">
            <input type="text" class="form-control sbox" ng-model="usersettings.lastname" placeholder="Last Name" required=""/>
            </div>

            <div class="form-group">
            <input type="email" class="form-control sbox" ng-model="usersettings.email" placeholder="Email" required=""/>
            </div>

            <div class="form-group">
            <input type="phone" class="form-control sbox" ng-model="usersettings.phone" placeholder="PhoneNumber" required=""/>
            </div>

            <div class="form-group">
            <input type="username" class="form-control sbox" ng-model="usersettings.username" placeholder="Username" required=""/>
            </div>

            <div class="form-group">
            <input type="password" class="form-control sbox" ng-model="usersettings.password" placeholder="Password" required=""/>
            </div> -->


            <!-- <div class="form-group">
            <input type="confpassword" class="form-control sbox" ng-model="" placeholder="Confirm Password" required=""/>
            </div> -->

            <!-- <div class="form-group">
            <button type="submit" class="btn btn-success">UPDATE</button></br></br>
            </div> -->

          <!-- </form>

      </div>
    </div>
</div> -->
<button type="button" class="btn btn-default" ng-click="users.logout()">LOGOUT</button>
<div class="col-sm-10 col-sm-offset-1 hid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <form ng-submit="usersettings.searchFlights()" class="deleteform">

        <div class="deleteform-group">
        <input class="form-control sbox" ng-model="usersettings.origin" placeholder="Source City" required=""/>
        </div>

        <div class="deleteform-group">
        <input class="form-control sbox" ng-model="usersettings.destination" placeholder="Destination City" required=""/>
        </div>

        <div class="deleteform-group">
        <button type="submit" class="btn btn-success" >SEARCH</button></br></br>
        </div>


        </form>
        </div>
      </div>
    </div>

    <div class ="usersettings">
      <table class="table table-bordered usertable" header-fixed>
        <thead>
          <th>Departure</th>
          <th>Flight Time</th>
          <th>
            <a>

              <span>
                <span>
                </span>
                <span>
                </span>
              </span>
            </a>
          </th>
          <th>Departure City</th>
          <th>Destination
            <a>
              <span>
                <span>
                </span>
                <span>
                </span>
              </span>
            </a>
          </th>
          <th>
            <a>

              <span>
                <span>
                </span>
                <span>
                </span>
              </span>
            </a>
          </th>
        </thead>
        <tbody>
          <tr ng-repeat="flight in usersettings.flights track by $index"
              ng-class="{'selected':$index == selectedRow}">
            <td>
              {{flight.flightOffset}}
            </td>
            <td>
              {{flight.flightTime}}
            </td>
            <td>
              <a>

              </a>
            </td>
            <td>
              {{flight.origin}}
            </td>
            <td>{{flight.destination}}</td>
            <td></td>
            <!-- <td>{{user.profile.email}}</td> -->
        <!-- <td>{{user.profile.phone}}</td> -->
          </tr>
        </tbody>
      </table>

      <h2 ng-show="usersettings.shownoflights">Sorry, no flights available</h2>
      <h2 ng-show="usersettings.showValidCities">Valid cities are: Memphis, NASHVILLE, KNOXVILLE and CHATTANOOGA</h2>
    </div>
