<button type="button" class="btn btn-default" ng-click="users.logout()">LOGOUT</button>
<div class ="users">
  <table class="table table-bordered usertable" header-fixed>
    <thead>
      <th>Departure</th>
      <th>Flight Time</th>
      <th>
        <a>

          <span>
            <span>
            </span>
            <span>
            </span>
          </span>
        </a>
      </th>
      <th>Departure City</th>
      <th>Destination
        <a>
          <span>
            <span>
            </span>
            <span>
            </span>
          </span>
        </a>
      </th>
      <th>
        <a>

          <span>
            <span>
            </span>
            <span>
            </span>
          </span>
        </a>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="flight in users.flights track by $index"
          ng-class="{'selected':$index == selectedRow}">
        <td>
          {{flight.offset}}
        </td>
        <td>
          {{flight.flightTime}}
        </td>
        <td>
          <a>

          </a>
        </td>
        <td>
          {{flight.origin}}
        </td>
        <td>{{flight.destination}}</td>
        <td></td>
        <!-- <td>{{user.profile.email}}</td> -->
    <!-- <td>{{user.profile.phone}}</td> -->
      </tr>
    </tbody>
  </table>
</div>
